<!DOCTYPE HTML>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>{% block title %}Test technique DataDome{% endblock %}</title>
    </head>
	<body>
    	{% block body %}
    	<div class="container">
    		<h1>List Bots</h1>
    		{% for datas in data %}
    			<p>{{data.name}}</p>
    			<p>{{data.type}}</p>
    			<p>{{data.createdAt|date('d-m-Y')}}</p>
    		{% endfor %}
    	</div>
    	{% endblock %}
    </body>
</html>